@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: relative;
  overflow: hidden;
}

.header-shadow {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.custom-shadow {
  box-shadow: inset 14rem 2rem 8rem #333;
}
