@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2');
}

:root {
  --primary-blue: '#040e1e';
  --secondary-yellow: '#fcc409';
}

html {
  scrollbar-color: #fcc409 #000;
}

body {
  font-family: 'Work Sans';

  &.hide-scroll {
    overflow: hidden;
  }
}

#root {
  position: relative;
  overflow: hidden;
}

.header-shadow {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.custom-shadow {
  box-shadow: inset 14rem 2rem 8rem #333;
}

.search-bar {
  /* width: 35%; */

  & input[type='search']:hover,
  & input[type='search']:focus {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px #000;
  }
}

.my-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 45rem 1rem 15rem #040e1edb;
}

.poster {
  position: relative;
}

.poster a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s;
  background: linear-gradient(0deg, #fcc409 0, rgba(252, 196, 9, 0) 100%);
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  border-radius: 4%;
}

.poster:hover a::after,
.poster:hover .fa-circle-play {
  opacity: 1;
}

.hover-text-dark-blue:hover * {
  color: rgb(0, 9, 113);
}
